/* SLIDER */

// media queries SOLO para el slider (me soluciona varias cosas)

@media only screen and (max-width:641px){
    main{
        .slider{
            overflow: hidden;
            width: 100vw;

            div{
                position: inherit;
                width: 500%;
                margin: 0;
                left: 0;
                animation: 20s slider infinite;

                img{
                        width: 20%;
                        float: left;
                }
            }

            @keyframes slider{
                0%{
                    left: 0%;
                }
                20%{
                    left: 0%;
                }
                25%{
                    left: -100%;
                }
                45%{
                    left: -100%;
                }
                50%{
                    left: -200%;
                }
                70%{
                    left:-200%;
                }
                75%{
                    left:-300%;
                }
                95%{
                    left: -300%;
                }
                100%{
                    left: -400%;
                }
                }
        
        }
        
    }
}

@media only screen and (min-width:642px){
    main{
        .slider{
            overflow: hidden;
            width: 100vw;

            div{
                position: relative;
                width: 500%;
                margin: 0;
                left: 0;
                animation: 20s slider infinite;

                img{
                        width: 20%;
                        float: left;
                }
            }

            @keyframes slider{
                0%{
                    left: 0%;
                }
                20%{
                    left: 0%;
                }
                25%{
                    left: -100%;
                }
                45%{
                    left: -100%;
                }
                50%{
                    left: -200%;
                }
                70%{
                    left:-200%;
                }
                75%{
                    left:-300%;
                }
                95%{
                    left: -300%;
                }
                100%{
                    left: -400%;
                }
                }
        
        }
        
    }

}

/* SECCION OFERTAS */

.section-header{
    @include block-container-sm;
    background-color: $clr-lightblue;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: $clr-white;
    align-items: center;
    justify-content: center;


    h1{
        color: $clr-dark;
        text-align: center;
        font-size: 1.3em;
        background-color: $clr-white;
        font-weight: 200;

        span{
            color: $clr-secondary;
        }
    }
}

.flex-container--light{
    @include flex-container-sm;
    background-color: $clr-lightblue;

    .card{
        display: flex;
        flex-flow: column nowrap;
        width: 32.5%;
        padding: 1em;
        background-color: $clr-white;
        gap: 1em;
        border-radius: 15px;

        .card__info{
            h3{
                font-size: 14px;
                color: $clr-secondary;
            }

            span{
                font-size: 14px;
                font-weight: 200;
                font-style: italic;
            }

            p{
                font-size: 12px;
                font-weight: 400;                
            }

        }
        
        .btn{

            &__title{
                display: none;
            }

            &__icon{
                font-size: 1.5em;
            }
        }
    }

    @media only screen and (min-width:642px){
        @include flex-container-m;
        background-color: $clr-lightblue;

        .card{
            .btn{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1em;
                text-align: center;

                &__title{
                    display: flex;
                    flex-flow: row nowrap;
                    font-size: 1em;
                    text-align: center;
                }

                &__icon{
                    font-size: 1.5em;
                }
            }
        }
    }

    @media only screen and (min-width:768px){
        @include flex-container-lg;
        background-color: $clr-lightblue;
        .card{
            .card__info{
                h3{
                    font-size: 18px;
                    font-weight: 600;
                }

                span{
                    font-size: 16px;
                }

                p{
                    font-size: 16px;
                }
            }
        }
    }
    
    @media only screen and (min-width:992px){
        @include flex-container-xl;
        background-color: $clr-lightblue;
    }
    
    @media only screen and (min-width:1200px){
        @include flex-container-xxl;
        background-color: $clr-lightblue;
    }
    
}




/* SECCION "NAVEGACION */
.block-container--dark{
    @include block-container-sm;
    background-color: $clr-lightblue;
    
    .row{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        background-color: $clr-white;
        padding:1em 1.2em;
        gap: 1em;

        .media-div{
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 60%;
            background-color: $clr-white;
        }

        .text-div{
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex: 40%;
            background-color: $clr-white;

            h2{
                color: $clr-secondary;
                font-size: 20px;
                font-weight: 700;
                text-align: left;
                padding-bottom: 0.3em;
            }

            p{
                font-size: 14px;
                padding-bottom: 1em;
                text-align: left;
    
            }
        }
    }

    .row-reverse{
        @extend .row;
        flex-flow: row-reverse nowrap;
    }

    @media only screen and (min-width:642px){
        @include block-container-m;
        background-color: $clr-lightblue;
    }

    @media only screen and (min-width:768px){
        @include block-container-lg;
        background-color: $clr-lightblue;

        .row{

            .text-div{
                display: flex;
                justify-content: center;
                flex-direction: column;
                flex: 40%;
                background-color: $clr-white;
    
                h2{
                    color: $clr-secondary;
                    font-size: 24px;
                    font-weight: 700;
                    text-align: left;
                    padding-bottom: 0.35em;
                }
    
                p{
                    font-size: 16px;
                    padding-bottom: 1em;
                    text-align: left;
                    }
            }
        }   
    }


    @media only screen and (min-width:992px){
        @include block-container-xl;
        background-color: $clr-lightblue;

        .row{

        .text-div{
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex: 40%;
            background-color: $clr-white;

            h2{
                color: $clr-secondary;
                font-size: 24px;
                font-weight: 700;
                text-align: left;
                padding-bottom: 0.3em;
            }

            p{
                font-size: 16px;
                padding-bottom: 1em;
                text-align: left;
                }
            }
        }
    }

    @media only screen and (min-width:1200px){
        @include block-container-xxl;
        background-color: $clr-lightblue;
    }
}

/* SECCION "SOBRE NOSOTRAS" */


.flex-container--white{
    @include flex-container-sm;
    gap: 0em;
    background-color: $clr-main;

    .media-div{
        flex: 40%;
        background-color: $clr-white;
        padding: 1em;

        img{
            max-width: 100%;
            height: auto;
        }
    }

    .text-div{
        flex: 60%;
        background-color: $clr-white;
        padding: 1em;
        h3{
            font-size: 18px;
            margin-bottom: 0.2em;
            color: $clr-secondary;
        }

        p{
            font-size: 13px;
        }
    }

    @media only screen and (min-width:642px){
        @include flex-container-m;
        gap: 0em;
        background-color: $clr-main;
    }

    @media only screen and (min-width:768px){
        @include flex-container-lg;
        gap: 0em;
        background-color: $clr-main;

        .text-div{
            padding: 1em;
            
            h3{
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 0.5em;
            }
    
            p{
                font-size: 16px;
            }
        }
    }

    @media only screen and (min-width:992px){
        @include flex-container-xl;
        gap: 0em;
        background-color: $clr-main;

        .text-div{
            padding: 1em;
            
            h3{
                font-size: 20px;
                margin-bottom: 0.2em;
            }
    
            p{
                font-size: 16px;
            }
        }
    }

    @media only screen and (min-width:1200px){
        @include flex-container-xxl;
        gap: 0em;
        background-color: $clr-main;
    }

}