
header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1em 5%;

    .brand{
        display: flex;
        align-items: center;
        color: $clr-dark;    
        gap: 0.5em;
        font-weight: 600;

        &:hover{
            color: $clr-main;
        }

        img{
            display: flex;
            height: 1.5em;
        }
    }



    nav{
        display: flex;
        align-items: center;

/* MI PRIMER MENU HAMBURGUESA HECHO CON ANNIMACIONES*/

        .menu--sm{

            label{
                display: flex;
                align-items: center;
            }

            .iconify{
                font-size: 22px;

                &:hover{
                    color: $clr-darken-main;
                    font-size: 26px;
                }
            }

            &--active{
                #btn-menu{
                    display: none;
                }

                .container-menu-sm{
                    width: 40vw;
                    float: right;
                    position: absolute;
                    right: 0;
                    top:50px;
                    background-color: $clr-dark;
                    transition: all 1s ease;
                    opacity: 0;
                    visibility: hidden;

                    .cont-menu-sm{
                        width: 100%;
                        max-width: 250px;
                        height: 400px;
                        position: relative;
                        transition: all 1s ease;
                        background-color: $clr-dark;

                        ul li{
                            display: block;
                            padding: 1em;
                            color: rgb(255, 255, 255);
                            border-left: 5px solid transparent;
                            transition: all 1s ease;

                            &:hover{
                                display: block;
                                padding: 1em;
                                color: rgb(255, 255, 255);
                                border-right: 5px solid $clr-main;
                                transition: all .5s ease;
                                background-color: $clr-secondary;
                                font-weight: 600;
                                }
                            }
    
                        label{
                            position:absolute;
                            bottom: 0;
                            left: 10px;
                            color: $clr-white;
                            font-size: 2em;

                            &:hover{
                                color: $clr-main;
                            }
                        }
                        
                    }
                }
    
                #btn-menu:checked ~ .container-menu-sm{
                    opacity: 1;
                    visibility: visible;
                    }    
            }
        }

        .menu--md{
            display:none;
        }
    }
}

    @media only screen and (min-width:642px){
        header{
            nav{
                .menu--sm{
                display: none;
                }

                .menu--md{
                display:flex;
                align-items: center;
                gap: 1em;
                font-size: 13px;

                    li{
                        color: $clr-dark;

                        &:hover{
                            color: $clr-main;
                            transform: translateY(-3px);        
                        }
                    }


                }
            }
        }
    }

    @media only screen and (min-width:768px){
        header{

            .brand{
                gap: 0.5em;
                font-weight: 600;
                font-size: 18px;
        
                img{
                    height: 1.5em;
                }
            }


            nav{
                .menu--md{
                gap: 1em;
                font-size: 14px;

                    li{
                        color: $clr-white;

                        &:hover{
                            color: $clr-main;
                            transform: translateY(-3px);        
                        }
                    }


                }
            }
        }

    }

    @media only screen and (min-width:992px){
        header{
            padding: 1em 8%;

            .brand{
                gap: 0.5em;
                font-weight: 600;
                font-size: 20px;
        
                img{
                    height: 1.5em;
                }
            }


            nav{
                .menu--md{
                gap: 1em;
                font-size: 16px;

                    li{
                        color: $clr-dark;

                        &:hover{
                            color: $clr-main;
                            transform: translateY(-3px);        
                        }
                    }
                }
            }
        }
    }
