.btn{
    padding: 0.7em 1em;
    border:none;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    font-weight: 600;

    &--main {
        background-color: $clr-accent-600;
        color: $clr-accent-000;
    }

    &--main:hover{
        background-color: $clr-darken-600;
    }


    &--secondary {
        background: $clr-accent-400;
        color: $clr-accent-000;
    }
    
    &--secondary:hover{
        background-color: $clr-darken-400;
    }

    

    &--dark{
        background: $clr-accent-500;
        color: $clr-accent-000;
    }

    &--light{
        background: $clr-accent-100;
        color: $clr-accent-500;
    }
}

