// COLORES

$clr-white:#ffffff;  // BLANCO
$clr-lightblue:#e1f3ff;  // CELESTE   
$clr-lightpink:#ffd9fa;  // ROSA CLARO
$clr-secondary:#adb3e9;  // CELESTE RARO
$clr-dark:#252525;  // NEGRO NO AL 100%
$clr-main: #ffb9c5;  // ROSA ACENTUADO

// COLORES HOVER
$clr-darken-secondary:#666fbd;
$clr-darken-main: #d8697b;