@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
}

.visuallyhidden {
  position: absolute;
  margin: -1px;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  outline: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

.card {
  border: none;
  position: static;
}

a {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.row, .block-container--dark .row-reverse {
  margin: 0;
}

* {
  font-family: "Poppins", sans-serif;
}

.btn {
  padding: 0.7em 1em;
  border: none;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  font-weight: 600;
}

.btn--main {
  background-color: #ffb9c5;
  color: #ffffff;
}

.btn--main:hover {
  background-color: #d8697b;
}

.btn--secondary {
  background: #adb3e9;
  color: #ffffff;
}

.btn--secondary:hover {
  background-color: #666fbd;
}

.field {
  width: 100%;
  padding: .5em;
  margin-bottom: .7em;
  border-radius: 5px;
  border: none;
}

.field:focus {
  outline: none !important;
  border: 2px solid #d8697b;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 5%;
}

header .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #252525;
  gap: 0.5em;
  font-weight: 600;
}

header .brand:hover {
  color: #ffb9c5;
}

header .brand img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.5em;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* MI PRIMER MENU HAMBURGUESA HECHO CON ANNIMACIONES*/
}

header nav .menu--sm label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .menu--sm .iconify {
  font-size: 22px;
}

header nav .menu--sm .iconify:hover {
  color: #d8697b;
  font-size: 26px;
}

header nav .menu--sm--active #btn-menu {
  display: none;
}

header nav .menu--sm--active .container-menu-sm {
  width: 40vw;
  float: right;
  position: absolute;
  right: 0;
  top: 50px;
  background-color: #252525;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  visibility: hidden;
}

header nav .menu--sm--active .container-menu-sm .cont-menu-sm {
  width: 100%;
  max-width: 250px;
  height: 400px;
  position: relative;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #252525;
}

header nav .menu--sm--active .container-menu-sm .cont-menu-sm ul li {
  display: block;
  padding: 1em;
  color: white;
  border-left: 5px solid transparent;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

header nav .menu--sm--active .container-menu-sm .cont-menu-sm ul li:hover {
  display: block;
  padding: 1em;
  color: white;
  border-right: 5px solid #ffb9c5;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background-color: #adb3e9;
  font-weight: 600;
}

header nav .menu--sm--active .container-menu-sm .cont-menu-sm label {
  position: absolute;
  bottom: 0;
  left: 10px;
  color: #ffffff;
  font-size: 2em;
}

header nav .menu--sm--active .container-menu-sm .cont-menu-sm label:hover {
  color: #ffb9c5;
}

header nav .menu--sm--active #btn-menu:checked ~ .container-menu-sm {
  opacity: 1;
  visibility: visible;
}

header nav .menu--md {
  display: none;
}

@media only screen and (min-width: 642px) {
  header nav .menu--sm {
    display: none;
  }
  header nav .menu--md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
    font-size: 13px;
  }
  header nav .menu--md li {
    color: #252525;
  }
  header nav .menu--md li:hover {
    color: #ffb9c5;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

@media only screen and (min-width: 768px) {
  header .brand {
    gap: 0.5em;
    font-weight: 600;
    font-size: 18px;
  }
  header .brand img {
    height: 1.5em;
  }
  header nav .menu--md {
    gap: 1em;
    font-size: 14px;
  }
  header nav .menu--md li {
    color: #ffffff;
  }
  header nav .menu--md li:hover {
    color: #ffb9c5;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

@media only screen and (min-width: 992px) {
  header {
    padding: 1em 8%;
  }
  header .brand {
    gap: 0.5em;
    font-weight: 600;
    font-size: 20px;
  }
  header .brand img {
    height: 1.5em;
  }
  header nav .menu--md {
    gap: 1em;
    font-size: 16px;
  }
  header nav .menu--md li {
    color: #252525;
  }
  header nav .menu--md li:hover {
    color: #ffb9c5;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 50%;
      grid-template-columns: 25% 25% 50%;
  -ms-grid-rows: 30% 50% 25%;
      grid-template-rows: 30% 50% 25%;
      grid-template-areas: "mapsite mapsite newsletter" "mapsite mapsite newsletter" "links3 links3 links3";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
  width: 100vw;
  background-color: #252525;
}

footer .mapsite {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: mapsite;
  gap: 1em;
  padding-top: 2em;
  border-top: solid 1px #ffffff;
}

footer .mapsite .brand {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  gap: 0.5em;
  font-size: 18px;
  color: #ffffff;
}

footer .mapsite .brand:hover {
  color: #ffb9c5;
}

footer .mapsite .brand span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

footer .mapsite .brand span img {
  height: 1.2em;
  width: auto;
}

footer .mapsite .mapsite__links {
  margin-top: 1em;
  margin-bottom: 1em;
}

footer .mapsite .mapsite__links .mapsite__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  gap: 0.3em;
  font-weight: 200;
  font-size: 14px;
}

footer .mapsite .mapsite__links .mapsite__list li:hover {
  color: #adb3e9;
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  font-weight: 400;
}

footer .newsletter {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: newsletter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 0.5em;
  padding-top: 2em;
  border-top: solid 1px #ffffff;
}

footer .newsletter h3 {
  color: #ffffff;
  font-size: 22px;
  text-align: left;
}

footer .newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 0.5em;
}

footer .newsletter form input {
  padding: 0.5em;
}

footer .newsletter form label {
  display: none;
}

footer .copyright {
  margin-top: 1em;
  padding: 1em;
  border-top: 1px solid #ffffff;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: links3;
}

footer .copyright ul {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  font-size: 12px;
  gap: 2em;
}

footer .copyright ul li:hover {
  color: #adb3e9;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 2em 13%;
  }
}

@media only screen and (min-width: 992px) {
  footer {
    padding: 2em 15%;
  }
}

@media only screen and (min-width: 1239px) {
  footer {
    padding: 2em 20%;
  }
  footer .newsletter h3 {
    margin-bottom: 1em;
    text-align: left;
    font-size: 1.4em;
  }
  footer .newsletter form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  footer .newsletter form #email {
    width: 70%;
  }
  footer .newsletter form #button-suscribe {
    width: 30%;
  }
  footer .copyright ul {
    font-size: 0.8em;
  }
}

/* SLIDER */
@media only screen and (max-width: 641px) {
  main .slider {
    overflow: hidden;
    width: 100vw;
  }
  main .slider div {
    position: inherit;
    width: 500%;
    margin: 0;
    left: 0;
    -webkit-animation: 20s slider infinite;
            animation: 20s slider infinite;
  }
  main .slider div img {
    width: 20%;
    float: left;
  }
  @-webkit-keyframes slider {
    0% {
      left: 0%;
    }
    20% {
      left: 0%;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
    100% {
      left: -400%;
    }
  }
  @keyframes slider {
    0% {
      left: 0%;
    }
    20% {
      left: 0%;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
    100% {
      left: -400%;
    }
  }
}

@media only screen and (min-width: 642px) {
  main .slider {
    overflow: hidden;
    width: 100vw;
  }
  main .slider div {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    -webkit-animation: 20s slider infinite;
            animation: 20s slider infinite;
  }
  main .slider div img {
    width: 20%;
    float: left;
  }
  @-webkit-keyframes slider {
    0% {
      left: 0%;
    }
    20% {
      left: 0%;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
    100% {
      left: -400%;
    }
  }
  @keyframes slider {
    0% {
      left: 0%;
    }
    20% {
      left: 0%;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
    100% {
      left: -400%;
    }
  }
}

/* SECCION OFERTAS */
.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #e1f3ff;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
}

.section-header h1 {
  color: #252525;
  text-align: center;
  font-size: 1.3em;
  background-color: #ffffff;
  font-weight: 200;
}

.section-header h1 span {
  color: #adb3e9;
}

.flex-container--light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #e1f3ff;
}

.flex-container--light .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 32.5%;
  padding: 1em;
  background-color: #ffffff;
  gap: 1em;
  border-radius: 15px;
}

.flex-container--light .card .card__info h3 {
  font-size: 14px;
  color: #adb3e9;
}

.flex-container--light .card .card__info span {
  font-size: 14px;
  font-weight: 200;
  font-style: italic;
}

.flex-container--light .card .card__info p {
  font-size: 12px;
  font-weight: 400;
}

.flex-container--light .card .btn__title {
  display: none;
}

.flex-container--light .card .btn__icon {
  font-size: 1.5em;
}

@media only screen and (min-width: 642px) {
  .flex-container--light {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #e1f3ff;
  }
  .flex-container--light .card .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    text-align: center;
  }
  .flex-container--light .card .btn__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    font-size: 1em;
    text-align: center;
  }
  .flex-container--light .card .btn__icon {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 768px) {
  .flex-container--light {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 13%;
    padding-right: 13%;
    background-color: #e1f3ff;
  }
  .flex-container--light .card .card__info h3 {
    font-size: 18px;
    font-weight: 600;
  }
  .flex-container--light .card .card__info span {
    font-size: 16px;
  }
  .flex-container--light .card .card__info p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .flex-container--light {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #e1f3ff;
  }
}

@media only screen and (min-width: 1200px) {
  .flex-container--light {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #e1f3ff;
  }
}

/* SECCION "NAVEGACION */
.block-container--dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #e1f3ff;
}

.block-container--dark .row, .block-container--dark .row-reverse {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background-color: #ffffff;
  padding: 1em 1.2em;
  gap: 1em;
}

.block-container--dark .row .media-div, .block-container--dark .row-reverse .media-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  background-color: #ffffff;
}

.block-container--dark .row .text-div, .block-container--dark .row-reverse .text-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  background-color: #ffffff;
}

.block-container--dark .row .text-div h2, .block-container--dark .row-reverse .text-div h2 {
  color: #adb3e9;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 0.3em;
}

.block-container--dark .row .text-div p, .block-container--dark .row-reverse .text-div p {
  font-size: 14px;
  padding-bottom: 1em;
  text-align: left;
}

.block-container--dark .row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
}

@media only screen and (min-width: 642px) {
  .block-container--dark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #e1f3ff;
  }
}

@media only screen and (min-width: 768px) {
  .block-container--dark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 13%;
    padding-right: 13%;
    background-color: #e1f3ff;
  }
  .block-container--dark .row .text-div, .block-container--dark .row-reverse .text-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    background-color: #ffffff;
  }
  .block-container--dark .row .text-div h2, .block-container--dark .row-reverse .text-div h2 {
    color: #adb3e9;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 0.35em;
  }
  .block-container--dark .row .text-div p, .block-container--dark .row-reverse .text-div p {
    font-size: 16px;
    padding-bottom: 1em;
    text-align: left;
  }
}

@media only screen and (min-width: 992px) {
  .block-container--dark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #e1f3ff;
  }
  .block-container--dark .row .text-div, .block-container--dark .row-reverse .text-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    background-color: #ffffff;
  }
  .block-container--dark .row .text-div h2, .block-container--dark .row-reverse .text-div h2 {
    color: #adb3e9;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 0.3em;
  }
  .block-container--dark .row .text-div p, .block-container--dark .row-reverse .text-div p {
    font-size: 16px;
    padding-bottom: 1em;
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .block-container--dark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #e1f3ff;
  }
}

/* SECCION "SOBRE NOSOTRAS" */
.flex-container--white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  gap: 0em;
  background-color: #ffb9c5;
}

.flex-container--white .media-div {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  background-color: #ffffff;
  padding: 1em;
}

.flex-container--white .media-div img {
  max-width: 100%;
  height: auto;
}

.flex-container--white .text-div {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  background-color: #ffffff;
  padding: 1em;
}

.flex-container--white .text-div h3 {
  font-size: 18px;
  margin-bottom: 0.2em;
  color: #adb3e9;
}

.flex-container--white .text-div p {
  font-size: 13px;
}

@media only screen and (min-width: 642px) {
  .flex-container--white {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    gap: 0em;
    background-color: #ffb9c5;
  }
}

@media only screen and (min-width: 768px) {
  .flex-container--white {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 13%;
    padding-right: 13%;
    gap: 0em;
    background-color: #ffb9c5;
  }
  .flex-container--white .text-div {
    padding: 1em;
  }
  .flex-container--white .text-div h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0.5em;
  }
  .flex-container--white .text-div p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .flex-container--white {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    gap: 0em;
    background-color: #ffb9c5;
  }
  .flex-container--white .text-div {
    padding: 1em;
  }
  .flex-container--white .text-div h3 {
    font-size: 20px;
    margin-bottom: 0.2em;
  }
  .flex-container--white .text-div p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .flex-container--white {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
    gap: 0em;
    background-color: #ffb9c5;
  }
}

.flex-container-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100vw;
  padding: 0;
  gap: 0;
}

.flex-container-contact .left {
  width: 100%;
  height: 250px;
  padding: 0;
  background: url(../assets/img/contac-us/contact-us-bg.png) no-repeat center;
  background-size: cover;
}

.flex-container-contact .right {
  width: 100%;
  padding: 1em 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #252525;
}

.flex-container-contact .right label {
  display: none;
}

.flex-container-contact .right h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
  text-transform: uppercase;
  padding-top: 0.7em;
  padding-bottom: 1em;
  color: #ffffff;
}

.flex-container-contact .right textarea {
  height: 100px;
  margin-bottom: 1em;
}

.flex-container-contact .right .btn {
  width: 30%;
}

@media only screen and (min-width: 641px) {
  .flex-container-contact .right {
    padding: 0 25%;
  }
  .flex-container-contact .left {
    padding: 0 5%;
  }
}

@media only screen and (min-width: 768px) {
  .flex-container-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
  .flex-container-contact .left {
    width: 50%;
    height: auto;
  }
  .flex-container-contact .right {
    padding: 2em 5%;
    padding-bottom: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    background: #252525;
  }
  .flex-container-contact .right input {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .flex-container-contact .right {
    padding: 2em 7%;
  }
}

@media only screen and (min-width: 1200px) {
  .flex-container-contact .right {
    padding: 2em 11%;
  }
}

.about-us .about-section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 0;
}

.about-us .about-section-1 .about-img-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../assets/img/about-us/about-us-01.jpg) no-repeat center;
  background-size: cover;
  height: 300px;
}

.about-us .about-section-1 .about-img-1 span {
  text-align: center;
  font-size: 1.3em;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  background: #ffb9c5;
  padding: 5px 25px;
}

.about-us .about-section-1 .container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1em 8%;
  background-color: #ffffff;
}

.about-us .about-section-1 .container-text h1 {
  font-size: 1.3em;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  margin: 1em 0;
  border-bottom: 2px solid #adb3e9;
  border-radius: 2px;
  padding-bottom: 0.3em;
  width: 80%;
}

.about-us .about-section-1 .container-text h1 span {
  color: #adb3e9;
  font-weight: 600;
}

.about-us .about-section-1 .container-text p {
  font-size: 1em;
  font-weight: 400;
  color: #252525;
  line-height: 1.5em;
  text-align: justify;
}

.about-us .about-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 0;
}

.about-us .about-section-2 .about-img-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../assets/img/about-us/about-us-02.jpg) no-repeat center;
  background-size: cover;
  height: 300px;
}

.about-us .about-section-2 .about-img-2 span {
  font-size: 1.3em;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  background-color: #ffb9c5;
  padding: 5px 25px;
  text-align: center;
}

.about-us .about-section-2 .container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1em 8%;
  background-color: #ffffff;
}

.about-us .about-section-2 .container-text h2 {
  font-size: 1.3em;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  margin: 1em 0;
  border-bottom: 2px solid #adb3e9;
  border-radius: 2px;
  padding-bottom: 0.3em;
}

.about-us .about-section-2 .container-text h2 span {
  color: #adb3e9;
  font-weight: 600;
}

.about-us .about-section-2 .container-text p {
  font-size: 1em;
  font-weight: 400;
  color: #252525;
  line-height: 1.5em;
  text-align: justify;
}

.about-us .about-section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 0;
}

.about-us .about-section-3 .about-img-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../assets/img/about-us/about-us-03.jpeg) no-repeat center;
  background-size: cover;
  height: 300px;
}

.about-us .about-section-3 .about-img-3 span {
  font-size: 1.3em;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  background-color: #ffb9c5;
  padding: 5px 25px;
  text-align: center;
}

.about-us .about-section-3 .container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1em 8%;
  background-color: #ffffff;
}

.about-us .about-section-3 .container-text h2 {
  font-size: 1.3em;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  margin: 1em 0;
  border-bottom: 2px solid #adb3e9;
  border-radius: 2px;
  padding-bottom: 0.3em;
}

.about-us .about-section-3 .container-text h2 span {
  color: #adb3e9;
  font-weight: 600;
}

.about-us .about-section-3 .container-text p {
  font-size: 1em;
  font-weight: 400;
  color: #252525;
  line-height: 1.5em;
  text-align: justify;
}

.about-us .about-section-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 0;
}

.about-us .about-section-4 .about-img-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../assets/img/about-us/about-us-04.jpeg) no-repeat center;
  background-size: cover;
  height: 300px;
}

.about-us .about-section-4 .about-img-4 span {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  font-size: 1.3em;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  background-color: #ffb9c5;
  padding: 5px 25px;
  text-align: center;
}

.about-us .about-section-4 .container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1em 8%;
  background-color: #ffffff;
}

.about-us .about-section-4 .container-text h2 {
  font-size: 1.3em;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  margin: 1em 0;
  border-bottom: 2px solid #adb3e9;
  border-radius: 2px;
  padding-bottom: 0.3em;
}

.about-us .about-section-4 .container-text h2 span {
  color: #adb3e9;
  font-weight: 600;
}

.about-us .about-section-4 .container-text p {
  font-size: 1em;
  font-weight: 400;
  color: #252525;
  line-height: 1.5em;
  text-align: justify;
}

@media only screen and (min-width: 641px) {
  .about-us .about-section-1 {
    padding: 0;
  }
  .about-us .about-section-1 .container-text {
    padding: 1em 15%;
  }
  .about-us .about-section-2 {
    padding: 0;
  }
  .about-us .about-section-2 .container-text {
    padding: 1em 15%;
  }
  .about-us .about-section-3 {
    padding: 0;
  }
  .about-us .about-section-3 .container-text {
    padding: 1em 15%;
  }
  .about-us .about-section-4 {
    padding: 0;
  }
  .about-us .about-section-4 .container-text {
    padding: 1em 15%;
  }
}

@media only screen and (min-width: 768px) {
  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2em;
    padding-top: 4.5%;
    padding-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #252525;
  }
  .about-us .about-section-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    padding: 0;
  }
  .about-us .about-section-1 .about-img-1 {
    width: 50%;
    height: auto;
  }
  .about-us .about-section-1 .container-text {
    width: 50%;
    padding: 1em 7%;
    padding-bottom: 4em;
  }
  .about-us .about-section-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
    padding: 0;
  }
  .about-us .about-section-2 .about-img-2 {
    width: 50%;
    height: auto;
  }
  .about-us .about-section-2 .container-text {
    width: 50%;
    padding: 1em 7%;
    padding-bottom: 4em;
  }
  .about-us .about-section-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    padding: 0;
  }
  .about-us .about-section-3 .about-img-3 {
    width: 50%;
    height: auto;
  }
  .about-us .about-section-3 .container-text {
    width: 50%;
    padding: 1em 7%;
    padding-bottom: 4em;
  }
  .about-us .about-section-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
    padding: 0;
  }
  .about-us .about-section-4 .about-img-4 {
    width: 50%;
    height: auto;
  }
  .about-us .about-section-4 .container-text {
    width: 50%;
    padding: 1em 7%;
    padding-bottom: 4em;
  }
}

@media only screen and (min-width: 992px) {
  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2em 10%;
    gap: 2em;
    background-color: #252525;
  }
  .about-us .about-section-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    padding: 0;
  }
  .about-us .about-section-1 .about-img-1 {
    width: 50%;
    height: auto;
  }
  .about-us .about-section-1 .container-text {
    width: 50%;
    padding: 5%;
    padding-top: 2em;
    padding-bottom: 4em;
  }
  .about-us .about-section-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
    padding: 0;
  }
  .about-us .about-section-2 .about-img-2 {
    width: 50%;
    height: auto;
  }
  .about-us .about-section-2 .container-text {
    width: 50%;
    padding: 5%;
    padding-top: 2em;
    padding-bottom: 4em;
  }
  .about-us .about-section-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    padding: 0;
  }
  .about-us .about-section-3 .about-img-3 {
    width: 50%;
    height: auto;
  }
  .about-us .about-section-3 .container-text {
    width: 50%;
    padding: 5%;
    padding-top: 2em;
    padding-bottom: 4em;
  }
  .about-us .about-section-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
    padding: 0;
  }
  .about-us .about-section-4 .about-img-4 {
    width: 50%;
    height: auto;
  }
  .about-us .about-section-4 .container-text {
    width: 50%;
    padding: 5%;
    padding-top: 2em;
    padding-bottom: 4em;
  }
}

.banner-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../assets/img/gallery/banner-img-gallery-01.jpg) no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 80vh;
  text-align: center;
}

.banner-section span {
  font-size: 2em;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  background: #ffb9c5;
  padding: 5px 25px;
}

.heading {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 2em;
}

.heading h1 {
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  color: #252525;
  text-align: center;
}

.heading h1 span {
  color: #adb3e9;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2em;
}

.flex-container .column-gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}

.flex-container .column-gallery img {
  width: 100%;
  height: auto;
  margin-bottom: .5em;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

.flex-container .column-gallery img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (min-width: 641px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .flex-container .column-gallery {
    width: 32.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1.8em;
  }
}

@media only screen and (min-width: 992px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 1.7em;
  }
}

@media only screen and (min-width: 1200px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1.5em;
  }
}

main .banner-section-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../assets/img/products/banner-section-products.jpg) no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 60vh;
  text-align: center;
}

main .banner-section-products span {
  font-size: 2em;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  background: #adb3e9;
  padding: 5px 25px;
}

main .featured-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

main .featured-categories .heading h1 {
  text-align: center;
  margin: 0;
  font-size: 2em;
  margin: 2em 0;
  padding: 0;
}

main .featured-categories .flex-container-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0;
  padding-top: 0;
}

main .featured-categories .flex-container-products .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32.5%;
  margin-bottom: 3em;
  height: 65vh;
}

main .featured-categories .flex-container-products .img-container span {
  font-size: 1.3em;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  background: #d8697b;
  padding: 5px 25px;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  text-align: center;
}

main .featured-categories .flex-container-products .img-container-01 {
  background: url(../assets/img/products/categories-panuelo-img.png) no-repeat center;
  background-size: cover;
}

main .featured-categories .flex-container-products .img-container-02 {
  background: url(../assets/img/products/categories-vinchas-img.png) no-repeat center;
  background-size: cover;
}

main .featured-categories .flex-container-products .img-container-03 {
  background: url(../assets/img/products/categories-cofia-img.png) no-repeat center;
  background-size: cover;
}

main .all-products .products-section .heading {
  padding: 0 20%;
  text-align: center;
}

main .all-products .products-section .heading h2 {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  border-bottom: 3px solid #adb3e9;
  border-radius: 2px;
  padding-bottom: 0.4em;
  text-transform: uppercase;
}

main .all-products .products-section .flex-container-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

@media only screen and (min-width: 641px) {
  main .all-products .products-section .flex-container-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (min-width: 768px) {
  main .all-products .products-section .flex-container-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

main .all-products .products-section .flex-container-products .block-container-product .img-container {
  height: 30vh;
}

main .all-products .products-section .flex-container-products .block-container-product .img-container-001 {
  background: url(../assets/img/products/panuelo-img-1.png) no-repeat center;
  background-size: contain;
}

main .all-products .products-section .flex-container-products .block-container-product .img-container-002 {
  background: url(../assets/img/products/panuelo-img-2.png) no-repeat center;
  background-size: contain;
}

main .all-products .products-section .flex-container-products .block-container-product .img-container-003 {
  background: url(../assets/img/products/panuelo-img-3.png) no-repeat center;
  background-size: contain;
}

main .all-products .products-section .flex-container-products .block-container-product .img-container-004 {
  background: url(../assets/img/products/cofia-img-1.png) no-repeat center;
  background-size: contain;
}

main .all-products .products-section .flex-container-products .block-container-product .img-container-005 {
  background: url(../assets/img/products/cofia-img-2.png) no-repeat center;
  background-size: contain;
}

main .all-products .products-section .flex-container-products .block-container-product .img-container-006 {
  background: url(../assets/img/products/cofia-img-3.png) no-repeat center;
  background-size: contain;
}

main .all-products .products-section .flex-container-products .block-container-product .img-container-007 {
  background: url(../assets/img/products/vincha-img-1.png) no-repeat center;
  background-size: contain;
}

main .all-products .products-section .flex-container-products .block-container-product .img-container-008 {
  background: url(../assets/img/products/vincha-img-2.png) no-repeat center;
  background-size: contain;
}

main .all-products .products-section .flex-container-products .block-container-product .text-container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .all-products .products-section .flex-container-products .block-container-product .text-container h3 {
  padding: 3em;
  font-size: 1em;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  font-weight: 200;
  text-align: center;
  padding: 0 1.5em;
}

main .all-products .products-section .flex-container-products .block-container-product .text-container p {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

main .all-products .products-section .flex-container-products .block-container-product .text-container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5em;
  gap: 0.5em;
  font-size: 1em;
  width: 60%;
}

@media only screen and (min-width: 641px) {
  main .all-products .products-section .flex-container-products .block-container-product .text-container .btn {
    width: 100%;
    font-size: 0.9em;
  }
}

main .all-products .products-section .flex-container-products .block-container-product .text-container .btn__icon {
  font-size: 1.2em;
}
/*# sourceMappingURL=main.css.map */