@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
}

.visuallyhidden {
  position: absolute;
  margin: -1px;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  outline: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

.card {
  border: none;
  position: static;
}

a {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.row, .block-container--dark .row-reverse {
  margin: 0;
}

* {
  font-family: "Poppins", sans-serif;
}

.btn {
  padding: 0.7em 1em;
  border: none;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  font-weight: 600;
}

.btn--main {
  background-color: #ffb9c5;
  color: #fdfcfc;
}

.btn--main:hover {
  background-color: #d8697b;
}

.btn--secondary {
  background: #adb3e9;
  color: #fdfcfc;
}

.btn--secondary:hover {
  background-color: #666fbd;
}

.btn--dark {
  background: #252525;
  color: #fdfcfc;
}

.btn--light {
  background: #dbdbdb;
  color: #252525;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 5%;
}

header .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #252525;
  gap: 0.5em;
  font-weight: 600;
}

header .brand img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.5em;
}

header .brand:hover {
  color: #ffb9c5;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* MI PRIMER MENU HAMBURGUESA HECHO CON ANNIMACIONES*/
}

header nav .menu--sm label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .menu--sm .iconify {
  font-size: 22px;
}

header nav .menu--sm .iconify:hover {
  color: #d8697b;
  font-size: 26px;
}

header nav .menu--sm--active #btn-menu {
  display: none;
}

header nav .menu--sm--active .container-menu-sm {
  width: 40vw;
  float: right;
  position: absolute;
  right: 0;
  top: 50px;
  background-color: #252525;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

header nav .menu--sm--active .container-menu-sm .cont-menu-sm {
  width: 100%;
  max-width: 250px;
  height: 400px;
  position: relative;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: #252525;
}

header nav .menu--sm--active .container-menu-sm .cont-menu-sm ul li {
  display: block;
  padding: 1em;
  color: white;
  border-left: 5px solid transparent;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

header nav .menu--sm--active .container-menu-sm .cont-menu-sm ul li:hover {
  display: block;
  padding: 1em;
  color: white;
  border-right: 5px solid #ffb9c5;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  background-color: #adb3e9;
  font-weight: 600;
}

header nav .menu--sm--active .container-menu-sm .cont-menu-sm label {
  position: absolute;
  bottom: 0;
  left: 10px;
  color: #fdfcfc;
  font-size: 2em;
}

header nav .menu--sm--active .container-menu-sm .cont-menu-sm label:hover {
  color: #ffb9c5;
}

header nav .menu--sm--active #btn-menu:checked ~ .container-menu-sm {
  opacity: 1;
  visibility: visible;
}

header nav .menu--md {
  display: none;
}

@media only screen and (min-width: 642px) {
  header nav .menu--sm {
    display: none;
  }
  header nav .menu--md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
    font-size: 13px;
  }
  header nav .menu--md li {
    color: #252525;
  }
  header nav .menu--md li:hover {
    color: #ffb9c5;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

@media only screen and (min-width: 768px) {
  header .brand {
    gap: 0.5em;
    font-weight: 600;
    font-size: 18px;
  }
  header .brand img {
    height: 1.5em;
  }
  header nav .menu--md {
    gap: 1em;
    font-size: 14px;
  }
  header nav .menu--md li {
    color: #252525;
  }
  header nav .menu--md li:hover {
    color: #ffb9c5;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

@media only screen and (min-width: 992px) {
  header {
    padding: 1em 8%;
  }
  header .brand {
    gap: 0.5em;
    font-weight: 600;
    font-size: 20px;
  }
  header .brand img {
    height: 1.5em;
  }
  header nav .menu--md {
    gap: 1em;
    font-size: 16px;
  }
  header nav .menu--md li {
    color: #252525;
  }
  header nav .menu--md li:hover {
    color: #ffb9c5;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 50%;
      grid-template-columns: 25% 25% 50%;
  -ms-grid-rows: 30% 50% 25%;
      grid-template-rows: 30% 50% 25%;
      grid-template-areas: "mapsite mapsite newsletter" "mapsite mapsite newsletter" "links3 links3 links3";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
  width: 100vw;
  background-color: #252525;
}

footer .mapsite {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: mapsite;
  gap: 1em;
}

footer .mapsite .brand {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  gap: 0.5em;
  font-size: 18px;
  color: #fdfcfc;
}

footer .mapsite .brand span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

footer .mapsite .brand span img {
  height: 1.2em;
  width: auto;
}

footer .mapsite .brand:hover {
  color: #ffb9c5;
}

footer .mapsite .mapsite__links {
  margin-top: 1em;
  margin-bottom: 1em;
}

footer .mapsite .mapsite__links .mapsite__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fdfcfc;
  gap: 0.3em;
  font-weight: 200;
  font-size: 14px;
}

footer .mapsite li:hover {
  color: #adb3e9;
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  font-weight: 400;
}

footer .newsletter {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: newsletter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 0.5em;
}

footer .newsletter h3 {
  color: #fdfcfc;
  font-size: 22px;
  text-align: left;
}

footer .newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 0.5em;
}

footer .newsletter form input {
  padding: 0.5em;
}

footer .newsletter form label {
  display: none;
}

footer .copyright {
  margin-top: 1em;
  padding: 1em;
  border-top: 1px solid #dbdbdb;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: links3;
}

footer .copyright ul {
  color: #fdfcfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  font-size: 12px;
  gap: 2em;
}

footer .copyright li:hover {
  color: #adb3e9;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 2em 13%;
  }
}

@media only screen and (min-width: 992px) {
  footer {
    padding: 2em 15%;
  }
}

@media only screen and (min-width: 1200px) {
  footer {
    padding: 2em 20%;
  }
}

/* SLIDER */
@media only screen and (max-width: 641px) {
  main .slider {
    overflow: hidden;
    width: 100vw;
  }
  main .slider div {
    position: inherit;
    width: 500%;
    margin: 0;
    left: 0;
    -webkit-animation: 20s slider infinite;
            animation: 20s slider infinite;
  }
  main .slider div img {
    width: 20%;
    float: left;
  }
  @-webkit-keyframes slider {
    0% {
      left: 0%;
    }
    20% {
      left: 0%;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
    100% {
      left: -400%;
    }
  }
  @keyframes slider {
    0% {
      left: 0%;
    }
    20% {
      left: 0%;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
    100% {
      left: -400%;
    }
  }
}

@media only screen and (min-width: 642px) {
  main .slider {
    overflow: hidden;
    width: 100vw;
  }
  main .slider div {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    -webkit-animation: 20s slider infinite;
            animation: 20s slider infinite;
  }
  main .slider div img {
    width: 20%;
    float: left;
  }
  @-webkit-keyframes slider {
    0% {
      left: 0%;
    }
    20% {
      left: 0%;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
    100% {
      left: -400%;
    }
  }
  @keyframes slider {
    0% {
      left: 0%;
    }
    20% {
      left: 0%;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
    100% {
      left: -400%;
    }
  }
}

/* SECCION OFERTAS */
.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #e6f6ff;
  padding-top: 50px;
  padding-bottom: 0px;
}

.section-header h1 {
  color: #252525;
  text-align: center;
  font-size: 20px;
}

.section-header h1 h1 span {
  color: #fff1f3;
}

.flex-container--light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #e6f6ff;
}

.flex-container--light .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 33%;
  padding: 1em;
  background-color: #fdfcfc;
  gap: 1em;
  border-radius: 15px;
}

.flex-container--light .card .card__info h3 {
  font-size: 14px;
  color: #adb3e9;
}

.flex-container--light .card .card__info span {
  font-size: 14px;
  font-weight: 200;
  font-style: italic;
}

.flex-container--light .card .card__info p {
  font-size: 12px;
  font-weight: 400;
}

.flex-container--light .card .btn__title {
  display: none;
}

.flex-container--light .card .btn__icon {
  font-size: 1.5em;
}

@media only screen and (min-width: 642px) {
  .flex-container--light {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #e6f6ff;
  }
}

@media only screen and (min-width: 768px) {
  .flex-container--light {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 13%;
    padding-right: 13%;
    background-color: #e6f6ff;
  }
  .flex-container--light .card .card__info h3 {
    font-size: 18px;
    font-weight: 600;
  }
  .flex-container--light .card .card__info span {
    font-size: 16px;
  }
  .flex-container--light .card .card__info p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .flex-container--light {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #e6f6ff;
  }
}

@media only screen and (min-width: 1200px) {
  .flex-container--light {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #e6f6ff;
  }
}

/* SECCION "NAVEGACION */
.block-container--dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #fff1f3;
}

.block-container--dark .row, .block-container--dark .row-reverse {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background-color: #fdfcfc;
  padding: 1em 1.2em;
  gap: 1em;
}

.block-container--dark .row .media-div, .block-container--dark .row-reverse .media-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  background-color: #fdfcfc;
}

.block-container--dark .row .text-div, .block-container--dark .row-reverse .text-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  background-color: #fdfcfc;
}

.block-container--dark .row .text-div h2, .block-container--dark .row-reverse .text-div h2 {
  color: #adb3e9;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 0.3em;
}

.block-container--dark .row .text-div p, .block-container--dark .row-reverse .text-div p {
  font-size: 14px;
  padding-bottom: 1em;
  text-align: left;
}

.block-container--dark .row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
}

@media only screen and (min-width: 642px) {
  .block-container--dark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #fff1f3;
  }
}

@media only screen and (min-width: 768px) {
  .block-container--dark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 13%;
    padding-right: 13%;
    background-color: #fff1f3;
  }
  .block-container--dark .row .text-div, .block-container--dark .row-reverse .text-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    background-color: #fdfcfc;
  }
  .block-container--dark .row .text-div h2, .block-container--dark .row-reverse .text-div h2 {
    color: #adb3e9;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 0.3em;
  }
  .block-container--dark .row .text-div p, .block-container--dark .row-reverse .text-div p {
    font-size: 16px;
    padding-bottom: 1em;
    text-align: left;
  }
}

@media only screen and (min-width: 992px) {
  .block-container--dark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #fff1f3;
  }
  .block-container--dark .row .text-div, .block-container--dark .row-reverse .text-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    background-color: #fdfcfc;
  }
  .block-container--dark .row .text-div h2, .block-container--dark .row-reverse .text-div h2 {
    color: #adb3e9;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 0.3em;
  }
  .block-container--dark .row .text-div p, .block-container--dark .row-reverse .text-div p {
    font-size: 16px;
    padding-bottom: 1em;
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .block-container--dark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #fff1f3;
  }
}

/* SECCION "SOBRE NOSOTRAS" */
.flex-container--white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  gap: 0em;
  background-color: #dbdbdb;
}

.flex-container--white .media-div {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  background-color: #fdfcfc;
  padding: 1em;
}

.flex-container--white .media-div img {
  max-width: 100%;
  height: auto;
}

.flex-container--white .text-div {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  background-color: #fdfcfc;
  padding: 1em;
}

.flex-container--white .text-div h3 {
  font-size: 18px;
  margin-bottom: 0.2em;
  color: #adb3e9;
}

.flex-container--white .text-div p {
  font-size: 13px;
}

@media only screen and (min-width: 642px) {
  .flex-container--white {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    gap: 0em;
    background-color: #dbdbdb;
  }
}

@media only screen and (min-width: 768px) {
  .flex-container--white {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 13%;
    padding-right: 13%;
    gap: 0em;
    background-color: #dbdbdb;
  }
  .flex-container--white .text-div {
    padding: 1em;
  }
  .flex-container--white .text-div h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0.5em;
  }
  .flex-container--white .text-div p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .flex-container--white {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    gap: 0em;
    background-color: #dbdbdb;
  }
  .flex-container--white .text-div {
    padding: 1em;
  }
  .flex-container--white .text-div h3 {
    font-size: 20px;
    margin-bottom: 0.2em;
  }
  .flex-container--white .text-div p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .flex-container--white {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
    gap: 0em;
    background-color: #dbdbdb;
  }
}

.contact-us {
  width: 100%;
  height: 100vh;
}

.contact-us .container-contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}

.contact-us .container-contact .contact-box {
  max-width: 850px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.contact-us .container-contact .contact-box .left {
  height: 100%;
  background: url(/repository/assets/img/contac-us/contact-us-bg.png) no-repeat center;
  background-size: cover;
}

.contact-us .container-contact .contact-box .right {
  padding: 25px 40px;
}

.contact-us .container-contact .contact-box .right h2 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.contact-us .container-contact .contact-box .right h2:after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #adb3e9;
}

.contact-us .container-contact .contact-box .right .field {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  -webkit-transition: 0,3s;
  transition: 0,3s;
}

.contact-us .container-contact .contact-box .right .field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.contact-us .container-contact .contact-box .right .field:focus {
  background-color: #fff;
  border: 2px solid rgba(30, 85, 250, 0.47);
}

.contact-us .container-contact .contact-box .right .area {
  min-height: 150px;
}

.contact-us .container-contact .contact-box .right .btn-contact {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #adb3e9;
  color: #fdfcfc;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact-us .container-contact .contact-box .right .btn-contact:hover {
  background-color: #666fbd;
}

@media screen and (max-width: 641px) {
  .contact-us .container-contact .contact-box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact-us .container-contact .contact-box .left {
    height: 200px;
  }
}

.contact-us .container-contact:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../../assets/img/contac-us/contact-us-bg.png) no-repeat center;
  background-size: cover;
  z-index: -1;
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

.about-us {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #adb3e9;
}

.about-us .about-us-section {
  background: url(/repository/assets/img/contac-us/contact-us-bg.png) no-repeat center;
  background-size: cover;
  background-color: #adb3e9;
  overflow: hidden;
  padding: 100px 0;
}

.about-us .about-us-section .container-about {
  width: 55%;
  float: right;
  background-color: #fdfcfc;
  padding: 150px;
}

.about-us .about-us-section .container-about h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 600;
}

.about-us .about-us-section .container-about .text-about {
  font-size: 13px;
  line-height: 30px;
  color: #252525;
  text-align: justify;
}

.banner-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../../assets/img/gallery/banner-img-gallery-01.jpg) no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 80vh;
  text-align: center;
}

.banner-section span {
  font-size: 2em;
  color: #fdfcfc;
  text-transform: uppercase;
  font-weight: 300;
  background: #d8697b;
  padding: 5px 25px;
}

.heading {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 2em;
}

.heading h1 {
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  color: #252525;
  text-align: center;
}

.heading h1 span {
  color: #adb3e9;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2em;
}

.flex-container .column-gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}

.flex-container .column-gallery img {
  width: 100%;
  height: auto;
  margin-bottom: .5em;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

.flex-container .column-gallery img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (min-width: 641px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .flex-container .column-gallery {
    width: 32.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1.8em;
  }
}

@media only screen and (min-width: 992px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 1.7em;
  }
}

@media only screen and (min-width: 1200px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1.5em;
  }
}
/*# sourceMappingURL=main.css.map */